<p-dialog
  [header]="dialogTitle()"
  [modal]="true"
  [(visible)]="display"
  [style]="{ width: 'min-content' }"
  (onHide)="closeDialog()"
>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-item">
      <label for="nombre">Nombre</label>
      <input pInputText id="nombre" type="text" formControlName="nombre" />
    </div>

    <div class="form-actions">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        size="small"
        [text]="true"
        severity="danger"
        (click)="onCancel()"
      />
      <p-button
        type="submit"
        label="Guardar"
        icon="pi pi-check"
        size="small"
        severity="success"
      />
    </div>
  </form>
</p-dialog>
