<div class="column gap-1">
  <p-dataView
    #dv
    [value]="books"
    [paginator]="true"
    [rows]="itemsPerPage"
    [totalRecords]="100"
    [rowsPerPageOptions]="[5, 10, 20]"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
  >
    <ng-template pTemplate="header">
      <input
        pInputText
        placeholder="Buscar"
        (keydown.enter)="onSearchSubmit($event)"
      />
    </ng-template>
    <ng-template pTemplate="list" let-books>
      @for (book of books; track book.title) {
        <app-book [book]="book" />
      }
    </ng-template>
  </p-dataView>
</div>
