<p-toast />
<app-table
  [rows]="data"
  [title]="title"
  (onEditRow)="onFacultyEdit($event)"
  (onRowDelete)="showConfirmDialog($event)"
  [globalFilterFields]="globalFilterFields"
>
  <div ngProjectAs="top-toolbar-actions">
    <p-button
      pRipple
      severity="success"
      label="Add"
      icon="pi pi-plus"
      class="mr-2"
      size="small"
      (onClick)="openFormDialog()"
    />
  </div>
</app-table>
<app-faculty-form
  [dialogTitle]="formTitle"
  [(display)]="displayForm"
  (onUpdate)="onUpdate($event)"
  (onCreate)="onCreate($event)"
  [data]="faculty"
/>
<p-confirmDialog />
