<p-toast />
<app-table
  [rows]="data"
  [title]="title"
  (onEditRow)="onFacultyEdit($event)"
  (onRowDelete)="showConfirmDialog($event)"
>
  <div ngProjectAs="top-toolbar" class="header">
    <div class="header-item header-item__left">
      <h5 class="m-0">{{ title }}</h5>
    </div>
    <div class="header-item header-item__right">
      <span class="p-input-icon-left">
        <input pInputText type="text" placeholder="Search..." />
      </span>
      <p-button
        pRipple
        severity="success"
        label="Add"
        icon="pi pi-plus"
        class="mr-2"
        size="small"
        (onClick)="openFormDialog()"
      />
    </div>
  </div>
</app-table>
<app-faculty-form
  [dialogTitle]="formTitle"
  [(display)]="displayForm"
  (onUpdate)="onUpdate($event)"
  (onCreate)="onCreate($event)"
  [data]="faculty"
/>
<p-confirmDialog />
