<p-dialog
  [header]="dialogTitle()"
  [modal]="true"
  [(visible)]="display"
  [style]="{ width: 'min-content' }"
  (onHide)="closeDialog(form)"
>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    @if (!data()) {
      <div class="form-item">
        <label for="materia">Materia</label>
        <p-dropdown
          name="materia"
          [(ngModel)]="selectedSubject"
          [options]="subjects()"
          optionLabel="nombre_materia"
          optionValue="idmateria"
          datakey="idmateria"
          placeholder="Seleccione una Materia"
          appendTo="body"
        />
      </div>
      <div class="form-item">
        <label for="material">Material</label>
        <p-dropdown
          name="material"
          [(ngModel)]="selectedResource"
          [options]="resources()"
          optionLabel="titulo"
          optionValue="idmaterial"
          datakey="idmaterial"
          placeholder="Seleccione un material"
          appendTo="body"
        />
      </div>
    }
    <div class="form-item">
      <label for="tipoBibliografia">Tipo de Material</label>
      <p-dropdown
        name="tipoBibliografia"
        [(ngModel)]="selectedBibliographyType"
        [options]="bibliographyTypeOptions()"
        optionLabel="label"
        optionValue="value"
        dataKey="value"
        placeholder="Seleccione un tipo de bibliografía"
        appendTo="body"
      />
    </div>

    <div class="form-actions">
      <p-button
        label="Cancelar"
        icon="pi pi-times"
        size="small"
        [text]="true"
        severity="danger"
        (click)="onCancel(form)"
      />
      <p-button
        type="submit"
        label="Guardar"
        icon="pi pi-check"
        size="small"
        severity="success"
      />
    </div>
  </form>
</p-dialog>
