@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "./styles/variables.css";

html,
body,
p,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
app-root {
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

.mt-15 {
  margin-top: 15px;
}

.mt-25 {
  margin-top: 25px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-25 {
  margin-top: 25px;
}

.wrap {
  flex-wrap: wrap;
}

.gap-1 {
  gap: 1rem;
}

.gap-2 {
  gap: 2rem;
}

.p-1 {
  padding: 1rem;
}

.m-1 {
  margin: 1rem;
}

.space-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.full-center {
  align-items: center;
  justify-content: center;
}

.hidden {
  display: hidden;
}

.color-accent {
  color: var(--accent);
}

.bg-primary {
  background-color: var(--bg-primary);
}

.bg-accent {
  background-color: var(--accent);
}

.header-wrapper {
  height: 56px;
  padding: 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.p-menu {
  height: 100%;
  padding: 0.25rem;
  width: 100%;

  p,
  span {
    text-wrap: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.p-inputtext {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.form-item {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    font-weight: semibold;
    text-transform: capitalize;
  }
}

.form-actions {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.row {
  display: flex;
  gap: 1rem;
}
