<p-toast />
<app-table
  [rows]="data()"
  [cols]="cols()"
  [title]="title"
  [globalFilterFields]="globalFilterFields"
  (onEditRow)="onBibliographyEdit($event)"
  (onRowDelete)="showConfirmDialog($event)"
  (onRowAdd)="openFormDialog()"
/>
<app-bibliography-form
  [dialogTitle]="formTitle"
  [(display)]="displayForm"
  (onUpdate)="onUpdate($event)"
  (onCreate)="onCreate($event)"
  [data]="bibliography"
  [resources]="resources()"
  [subjects]="subjects()"
  [bibliographyTypes]="bibliographyTypes"
/>
<p-confirmDialog />
