<ng-content select="top-toolbar"></ng-content>
<p-table
  [value]="rows"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 160px)'"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      @for (col of cols; track col.field) {
        <th>{{ col.header }}</th>
      }
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of cols; track col.field) {
        @if (col.field === "created_at" || col.field === "updated_at") {
          <td>
            {{ row[col.field] | date: "dd/MM/yyyy" }}
          </td>
        } @else {
          <td>{{ row[col.field] }}</td>
        }
      }
      <td>
        <p-button
          pRipple
          icon="pi pi-pencil"
          class="mr-2"
          [rounded]="true"
          [outlined]="true"
          severity="success"
          (click)="editRow(row)"
        />
        <p-button
          pRipple
          icon="pi pi-trash"
          severity="danger"
          [rounded]="true"
          [outlined]="true"
          (click)="deleteRow(row)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
