<p-table
  #table
  [value]="rows()"
  [scrollable]="true"
  [scrollHeight]="'calc(100vh - 160px)'"
  [tableStyle]="{ 'min-width': '50rem' }"
  [globalFilterFields]="globalFilterFields()"
>
  <ng-template pTemplate="caption">
    <div class="header-item">
      <span class="p-input-icon-left">
        <input
          pInputText
          type="text"
          placeholder="Buscar ..."
          (input)="table.filterGlobal($any($event.target).value, 'contains')"
        />
      </span>
      <p-button
        pRipple
        severity="success"
        label="Añadir"
        icon="pi pi-plus"
        class="mr-2"
        size="small"
        (onClick)="addRow($event)"
      />
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
      @for (col of cols(); track col.field) {
        @if (col.header !== "Materias") {
          <th>{{ col.header }}</th>
        }
      }
      <th>Acciones</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      @for (col of cols(); track col.field) {
        @if (col.field === "created_at" || col.field === "updated_at") {
          <td>
            {{ row[col.field] | date: "dd/MM/yyyy" }}
          </td>
        } @else {
          @if (col.header !== "Materias") {
            <td>{{ row[col.field] }}</td>
          }
        }
      }
      <td class="actions-column">
        <p-button
          pRipple
          icon="pi pi-pencil"
          class="mr-2"
          severity="success"
          (click)="editRow(row)"
        />
        <p-button
          pRipple
          icon="pi pi-trash"
          severity="danger"
          (click)="deleteRow(row)"
        />
      </td>
    </tr>
  </ng-template>
</p-table>
