.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.caption-item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.actions-column {
  display: flex;
  gap: 1rem;
}

.header-item {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
